
/src/Debug/CheckTester.dll
/src/Debug/CheckTester.ilk
/src/Debug/CheckTester.pdb
/src/Debug/MovieDabaze.exe
/src/Debug/MovieDabaze.pdb
/src/Debug/MovieDabaze_Accessor.exe
/src/Debug/MovieDabaze_Accessor.pdb
/src/MovieDabaze/obj/Debug/MovieDabaze.Properties.Resources.resources
/src/MovieDabaze/obj/Debug/MovieDabaze.csproj.FileListAbsolute.txt
/src/MovieDabaze/obj/Debug/MovieDabaze.csproj.GenerateResource.Cache
/src/MovieDabaze/obj/Debug/MovieDabaze.exe
/src/MovieDabaze/obj/Debug/MovieDabaze.pdb